# Ignora tutto
*

# Ma non ignorare questi file/cartelle specifici
!LLM_gemini_app.py
!packages.txt
!README.md
!requirements.txt
!.gitignore

!.streamlit/
.streamlit/*
!.streamlit/config.toml

!few_shot_examples/
!few_shot_examples/**
